<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h2>Hello world</h2> 



    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <!-- including above script is must, this includes socket.io.js on client side from server's nodemodules -->
    <script src="clientSideChat.js"></script>
</body>
</html>